.idea
.env
.DS_Store

# API
/api/dist
/api/node_modules
/api/build
/api/.env
/api/prisma/__generated__
/api/coverage
/api/.nyc_output
/api/.idea
/api/.project
/api/.classpath
/api/.c9/
/api/*.launch
/api/.settings/
/api/*.sublime-workspace
/api/.vscode/*
/api/!.vscode/settings.json
/api/!.vscode/tasks.json
/api/!.vscode/launch.json
/api/!.vscode/extensions.json
