name: API Build Other Branches

on:
  pull_request:
    branches:
      - 'main'

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies in API folder
        run: cd api && yarn install

      - name: Run ESLint
        run: cd api && yarn lint

      - name: Run checking for extra code
        run: |
          if grep -r 'console.log' ./api/src; then
            echo "Error: console.log statements found" >&2
            exit 1
          fi
          if yarn tsc --noEmit | grep 'error TS6133'; then
            echo "Error: Unused variables found" >&2
            exit 1
          fi

      - name: Run tests
        run: cd api && yarn test

      - name: Build Project Artifacts
        run: cd api && yarn build