name: CI - Quality Assurance

on:
  push:
    branches:
      - '**'
    pull_request:
      branches:
        - '**'

jobs:
  Test&Build:
    name: Check, Test & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'yarn'
          cache-dependency-path: api/yarn.lock

      - name: Install dependencies in API folder
        run: cd api && yarn install --frozen-lockfile

      - name: Run ESLint
        run: cd api && yarn lint

      - name: Run tests
        run: cd api && yarn test

      - name: Build Project
        run: cd api && yarn build